<a href="/" class="header item">
    <img class="logo" src="images/logo.png"> Sentry
</a>
<a href="/" class="item">Dashboard</a>
<a href="/player" class="item">Players</a>
<a href="/view-logs" class="item">Logs</a>
{{#if user.is_admin}}
<a href="/view-serverlogs" class="item">Server Logs</a>
<a href="/book" class="item">Books</a>
{{/if}}
<div class="right menu">
    <div class="item">
        <img id="selfavatar" src="">
    </div>
</div>
<script src ="js/menu.js"></script>
<script>
LoadAvatar({{user.user_id}},"selfavatar")
</script>
<head>
  <script src="/js/pace.min.js"></script>
  <link href="/css/pace.css" rel="stylesheet" />
</head>
